@{
    var userRole = Context.Session.GetString("UserRole");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Projekt</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header style="border-bottom ; box-shadow">

        @if (userRole == "uzytkownik")
        {
            <form asp-controller="Home" asp-action="Index" method="post" class="nav-link">
                <button type="submit" class="btn" style="color: white;">Forum</button>
            </form>

            <div style="display: flex; justify-content: flex-end; margin-right: 10px" class="container">
                <form asp-controller="Home" asp-action="Wiadomosci" method="post">
                    <button type="submit" style="margin-right: 15px;" class="btn btn-outline-secondary">Wiadomości</button>
                </form>

                <form asp-controller="ProfilUzytkownika" asp-action="Index" method="post">
                    <button type="submit" class="btn btn-outline-secondary">Twój profil</button>
                </form>
            </div>


            <form asp-controller="Rejestracja" asp-action="Logowanie" method="post">
                <button type="submit" class="Wyloguj">Wyloguj</button>
            </form>

        }
        else if (userRole == "admin")
        {
            <form asp-controller="Home" asp-action="Index" method="post" class="nav-link">
                <button type="submit" class="btn" style="color: white;">Forum</button>
            </form>
            <form asp-controller="Admin" asp-action="ZarzadzajUzytkownikami" method="post" class="nav-link">
                <button type="submit" class="btn" style="color: white;">Zarządzaj użytkownikami</button>
            </form>
            <form asp-controller="Admin" asp-action="ZarzadzajKategoriami" method="post" class="nav-link">
                <button type="submit" class="btn" style="color: white;">Zarządzaj kategoriami</button>
            </form>

            <form asp-controller="Admin" asp-action="ZarzadzajOgloszeniami" method="post" class="nav-link">
                <button type="submit" class="btn" style="color: white;">Zarządzaj Ogloszeniami</button>
            </form>

            <form asp-controller="Admin" asp-action="ZarzadzajZakazanymiSlowami" method="post" class="nav-link">
                <button type="submit" class="btn" style="color: white;">Zarządzaj zakazanymi słowami</button>
            </form>

            <div style="display: flex; justify-content: flex-end; margin-right: 10px" class="container">
                <form asp-controller="Home" asp-action="Wiadomosci" method="post">
                    <button type="submit" style="margin-right: 15px;" class="btn btn-outline-secondary">Wiadomości</button>
                </form>

                <form asp-controller="ProfilUzytkownika" asp-action="Index" method="post">
                    <button type="submit" class="btn btn-outline-secondary">Twój profil</button>
                </form>
            </div>

            <form asp-controller="Rejestracja" asp-action="Logowanie" method="post">
                <button type="submit" class="Wyloguj">Wyloguj</button>
            </form>

        }
        else
        {

            <form asp-controller="Home" asp-action="Index" method="post" class="nav-link">
                <button type="submit" class="btn" style="color: white;">Forum</button>
            </form>

            <form asp-controller="Rejestracja" asp-action="Index" method="post">
                <button type="submit" class="btn" style="color: white; margin-right: 5px">Zaloguj się</button>
            </form>

        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>