@model List<Projekt_MVC.Models.Dyskusja>

@{
    ViewData["Title"] = "Home Page";

    if (ViewBag.UserId == null)
    {
        Layout = "_LayoutNieZalogowany";
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1> Dyskusje: </h1>

<html>
<form asp-controller="Home" asp-action="StwórzDyskusje" method="post" onsubmit="return sprawdzLogowanie()">
    <button type="submit" class="StworzDyskusje">Stwórz Dyskusję</button>
    <input type="hidden" name="ForumId" value="@ViewBag.ForumId" />
</form>
@if (Model == null)
{
    <p>Brak dyskusji na forum</p>
}
else
{
    <p>Dyskusje: </p>
    <div class="list-group">
        @foreach (var dyskusja in Model)
        {
            <a href="/Home/Dyskusja/@dyskusja.DyskusjaId" class="list-group-item list-group-item-action">
                @dyskusja.Temat
            </a>
        }
    </div>
}

</html>

<script>
    function sprawdzLogowanie() {
        var isUserLoggedIn = @(ViewBag.UserId != null ? "true" : "false");

        if (!isUserLoggedIn) {
            window.location.href = '../../Rejestracja/Logowanie';
            return false;
        }

        return true;
    }
</script>
