@model List<Projekt_MVC.Models.Forum>


@{
    ViewData["Title"] = "Home Page";

    if (ViewBag.UserId == null)
    {
        Layout = "_LayoutNieZalogowanyINieWForum";
    }
    else
    {
        Layout = "_LayoutNieWForum";
    }
}

<h1> Fora: </h1>

<html>
@if (Model == null)
{
    <p>Brak forów xd</p>
}
else
{
    <p>Fora: </p>
    <div class="list-group">
        @foreach (var forum in Model)
        {
            <a href="Home/PrzejdzDoFora/@forum.IdForum" class="list-group-item list-group-item-action">
                @forum.Nazwa - @forum.Opis
            </a>
        }
    </div>

}

</html>