@Model List<Projekt_MVC.Models.Dyskusja>


@{
    ViewData["Title"] = "Home Page";
}

<h1> Dyskusje: </h1>

<html>
    @if (Model == null)
    {
        <p>Brak dyskusji na forum</p>
    }
    else
    {
        <p>Dyskusje: </p>
        <div class="list-group">
            @foreach (var dyskusja in Model)
            {
                <a href="#" class="list-group-item list-group-item-action">
                    @dyskusja.Temat
                </a>
            }
        </div>
    }

</html>