
@{
    ViewData["Title"] = "Rejestracja";
}

    <div class="loginKontener">
        <div class="loginForma">
            <h2>Rejestracja</h2>
            <form>
                <input type="text" class="login" placeholder="Imię" required>
                <input type="text" class="login" placeholder="Nazwisko" required>
                <input type="email" class="login" placeholder="Adres email" required>
                <input type="password" class="login" placeholder="Hasło" required>
                <input type="password" class="login" placeholder="Powtórz hasło" required>
                <button class="loginPrzycisk">Zarejestruj się</button>
            </form>
        </div>
    </div>



