@model Projekt_MVC.Models.User

@{
    ViewData["Title"] = "Rejestracja";
}

    <div class="loginKontener">
        <div class="loginForma">
            <h2>Rejestracja</h2>
                <form method="post" asp-action="Rejestracja">
                    @Html.AntiForgeryToken()
                    <input type="text" class="login" placeholder="Nazwa" asp-for="NickName" required>
                    <input type="email" class="login" placeholder="Adres email" asp-for="Email" required>
                    <input type="password" class="login" placeholder="Hasło" asp-for="Password" required>
                    <input type="password" class="login" placeholder="Powtórz hasło" name="ConfirmPassword" required>
                    <button type="submit" class="loginPrzycisk">Zarejestruj się</button>
                </form>
        </div>
    </div>



