@model Projekt_MVC.ViewModels.DodawanieDyskusji

@{
    ViewData["Title"] = "Stwórz Dyskusję";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="@ViewBag.CurrentSkinCssFilePath">
    <link rel="stylesheet" href="~/css/StworzDyskusje.css">
</head>
<body>
    <h1 class="heading">Stwórz Dyskusję</h1>
    <div class="form-container">
        <form method="post" asp-action="TworzenieDyskusji">

            <label for="topic" class="input-label">Temat dyskusji:</label>
            <input type="text" asp-for="Temat" class="input-field" required><br>

            <label for="message" class="input-label">Twoja wiadomość:</label><br>
            <textarea id="opis" asp-for="Opis" class="textarea-field" required></textarea>

            <input type="hidden" name="ForumId" value="@ViewBag.ForumId" />

            <button type="submit" class="submit-button">Rozpocznij dyskusję</button>
        </form>
    </div>
</body>
</html>

<script src="https://cdn.tiny.cloud/1/qsdgw82hvfxv3yn9g35x7lslfh8cgs9ng1qeua0h3wgwbuxy/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'emoticons',
        toolbar: 'emoticons',
        toolbar_location: 'bottom',
        menubar: false,
        statusbar: false,
        width: '100%',
        height: 300,
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    });
</script>
