@{
    Layout = "_LayoutPusty";
}

<div class="loginKontener">
    <div class="loginForma">
        <h2>Logowanie</h2>
        <form method="post" action="SprawdzanieDanychLogowania">
            <input type="email" class="login" name="Email" placeholder="Nazwa użytkownika lub email" required>
            <input type="password" class="login" name="Password" placeholder="Hasło" required>
            <button type="submit" class="loginPrzycisk">Zaloguj się</button>
        </form>

        <a href="Rejestracja">Zarejestruj się</a>
        <a href="PrzypomnijHaslo">Zapomniałeś hasła?</a>
    </div>
</div>
