@{
    Layout = "_LayoutPusty";
    ViewData["Title"] = "Rejestracja";
}

<div class="przypomnienieHasla">
    <h2>Przypomnij hasło</h2>
    <form method="post" action="PrzypomnijHaslo">
        <input type="email" class="login" name="Email" placeholder="Adres email" required>
        <button type="submit" class="loginPrzycisk">Przypomnij hasło</button>
    </form>
</div>
