html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font - family: Arial, sans - serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.ForumOdnosnik {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.Wyloguj {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginKontener {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.loginForma {
    max-width: 300px;
    margin: 0 auto;
}

.login {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginPrzycisk {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.StworzDyskusje {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px;
    margin-right: revert;
    margin-left: 50px;
}

.formDyskusja {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputTematDyskusji[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonRozpocznijDyskusje {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    .buttonRozpocznijDyskusje:hover {
        background-color: #45a049;
    }


.tabela {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: #dee2e6;
}

//CCS ODNOŒNIE PROFILU:

.containerProfilu {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.sectionProfilu {
    margin-top: 20px;
}

.formProfilu {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.labelProfilu {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.inputProfilu {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

.buttonProfilu {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

    .buttonProfilu:hover {
        background-color: #0056b3;
    }


/*//CSS DO DYSKUSJA:*/

.OdpowiedzTextArea {
    margin: 20px;
    width: 40vw;
    border-radius: 10px;
    border: 1px solid #555;
    box-sizing: border-box;
    height: 100px;
}