

.zgloszone-wiadomosci {
    list-style-type: none;
    padding: 0;
}

    .zgloszone-wiadomosci li {
        margin-bottom: 15px;
        border: 1px solid #ccc;
        padding: 10px;
    }

.zgloszona-wiadomosc {
    display: flex;
    align-items: center;
}

    .zgloszona-wiadomosc h5 {
        margin-right: 10px;
    }

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.table th {
    text-align: center;
}
