@model List<Projekt_MVC.Models.Dyskusja>

@{
    ViewData["Title"] = "ZarzadzajDyskusjami";
}

<hr />
<div style="font-family: Century Gothic, serif">
    @if (Model == null)
    {
        <p>Model is null!</p>
    }
    else
    {
        <div class="list-group">
            <h1 class="title">Dyskusje</h1>

            @foreach (var dyskusja in Model)
            {
                <div class="list-group-item">
                    <div>
                        <p> autor: <b>@dyskusja.Owner.Nazwa</b>, Temat: <b>@dyskusja.Temat</b></p>
                        <p>@dyskusja.Opis</p>
                    </div>
                    <div class="button-container">
                        <!form method="post" asp-action="UsunDyskusje" asp-controller="Admin">
                        <input type="hidden" name="id" value="@dyskusja.DyskusjaId" />
                        <button type="submit" class="red-button" onclick="f(event)">Usuń</button>
                        </!form>
                    </div>
                </div>
            }

        </div>
    }

    <script>
        function f(event) {

            var result = confirm("Czy na pewno chcesz usunąć tę dyskusję?");
            if (result == false) {
                event.preventDefault();
            }
        }
    </script>

</div>

